
.drawer-container {
  height: 100%;
  .header-toolbar {
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #0000001f;
  
    .menu {
      margin-top: auto;
    }
    .spacer {
        flex: 1 1 auto;
      }
  
    .header-logo {
      width: 50vw;
      height: calc(150px + 5vh);
      margin-top: 50px;
    }
    .sub-header {
      margin: auto;
      color: #00000080;
      font-size: calc(10px + 1vw);
    }
  }
  .main-component {
    height: calc(100% - 100px);
  }
}
::ng-deep {
  snack-bar-container {
      &.error {
          background-color: orange;
      }
      &.success {
          background-color: green;
      }
      span {
          color: white;
          font-weight: bold;
      }
  }
}