<div class="search">
    <mat-form-field>
        <mat-label>Je cherche une location</mat-label>
        <input matInput [(ngModel)]="filter" placeholder="Perceuse, congélateur, poussette...">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button class="proposition" (click)="redirectTo()" mat-button>Je propose une location</button>
    <hr>
    <p class="categorie" *ngIf="categorie">{{ categorie }}</p>
</div>
<mat-grid-list  class="product-list" [cols]="cols" >
    <mat-grid-tile *ngFor="let product of filteredProducts" class="product" (click)="redirectTo(product._id)">
        <mat-card class="product-card">
            <mat-card-header>
              <mat-card-title>{{ product.intitule }}</mat-card-title>
              <mat-card-subtitle>{{ product.address }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ product.photo }}" alt="Photo de {{product.intitule}}">
            <mat-card-content>
              <p>
                {{ product.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button><a href="tel:{{product.tel}}"><mat-icon>call</mat-icon> Contacter le propriétaire</a></button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>