.search {
    display: inline-grid;
    text-align: center;
    padding-left: calc(50vw - 150px);
    width: 300px;
    .proposition {
        background-color: rgba(255, 166, 0, 0.5);
    }
}
.product-card {
    min-width: 255px;
    max-width: 55vw;
}
mat-card-actions {
    display: flex;
    button {
        flex: 1;
    }
}
hr {
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    text-align: center;
    color: rgba(128, 128, 128, 0.5);
    height: 5px;
    width: 100%;
}
.categorie {
    color: rgba(128, 128, 128, 0.75);
}
.image-container {
    display: flex;
    .image {
        margin: auto;
        width: auto;
        max-width: 255px;
        height: auto;
        max-height: 200px;
    }
}